{
  "extends": "@antfu",
  "rules": {
    "vue/no-restricted-syntax": [
      "error",
      {
        "selector": "VElement[name='a']",
        "message": "Use NuxtLink instead."
      }
    ]
  }
}
