html {
  font-family: Montserrat, ui-sans-serif, system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
  background: transparent;
}

::-webkit-scrollbar-track {
  --at-apply: bg-white blog:bg-primary-lighter;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6em;
  --at-apply: bg-zinc-300 hover:bg-zinc-400 active:bg-zinc-500;
}

.active-header {
  --at-apply: text-primary-base cursor-default;
}

.active-footer {
  --at-apply: text-primary-light cursor-default;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "Montserrat";
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf");
}
