@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat, sans-serif;
  }
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}
