@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat, ui-sans-serif, system-ui, sans-serif;
    color: theme('colors.black');
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    backgound-color: theme('colors.white');
  }

  .blog ::webkit-scrollbar-track {
    backgound-color: theme('colors.primary-variation-1');
  }

  ::-webkit-scrollbar-thumb {
    border-radius: theme('borderRadius.lg');
    background-color: theme('colors.zinc.300');
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.zinc.400');
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: theme('colors.zinc.500');
  }

  .active-header {
    color: theme('colors.primary-base');
  }

  .active-footer {
    color: theme('colors.primary-variation-1');
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "Montserrat";
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf");
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease-in;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
