name: Fetch schools

on:
  workflow_dispatch:
  schedule:
    - cron: "0 21 * * 0"

permissions:
  contents: write
  pull-requests: write

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Cache Node Modules
        id: node-cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('yarn.lock') }}

      - name: Install Dependencies
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: yarn --immutable

  fetch-and-pr:
    name: Fetch and Pull Request
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Restore Node Modules
        id: node-cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('yarn.lock') }}

      - name: Fetch schools
        env:
          NOTION_KEY: ${{ secrets.NOTION_KEY }}
          NOTION_SCHOOLS_DATABASE_ID: ${{ secrets.NOTION_SCHOOLS_DATABASE_ID }}
        run: node ./scripts/fetch-schools/index.mjs

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: feat-schools-automatic-update
          commit-message: "feat(schools): automatic update"
          title: "feat(schools): automatic update"
          body: |
            Update `content/ecoles/*` automatically.

            Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          reviewers: Barbapapazes
